body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #5d6ecce0;
    margin: 0;
    padding: 20px;
    ;
}

h1, h2, h3 {
    color: aliceblue;
    font-size: large;
}

a{
    color: aliceblue;
}

a:hover{
    text-decoration: underline;
}

img{
    max-width: 200px;
    height: 200px;
    border: 5px solid black;
}
footer{
    margin-top: 20px;
    text-align: center;
    font-size: medium;
}

p{
    color: aliceblue;
    font-size: large;
}
li{
    color: aliceblue;
    font-size: large;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    font-size: large;
}